//
// VARIABLES
// ------------------------------------------

@import 'mixins';

//
// COLORS
// ----------------

$primary-color: #537825;
$primary-color-light: rgba(101, 146, 46, .3);
$secondary-color: #3D1E09;
$background-color: #fff;

$box-shadow-color: rgba(0, 0, 0, 0.12);

$btn-delete-color: #77806e;
$btn-send-color: #78ad36;

$contact-heading-color: rgba(61, 30, 9, 0.6);

$focus-area-color: #8abeb2;